/.cursor
~
~/.cursor
~/.cursor/
.cursor
.cursor/
./vscode
/.vscode
~/.vscode
~/.vscode/
.vscode
/Users/nirvana
/vscode/
/.vscode/
/.node_modules
/node_modules
node_modules/
~/node_modules
Users/
.vscode/extensions